<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <!-- Primary Meta Tags -->
    <title><%= data.title %></title>
    <meta name="description" content="<%= data.description %>" />

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="article" />
    <meta property="og:url" content="<%= data.url %>" />
    <meta property="og:title" content="<%= data.title %>" />
    <meta property="og:description" content="<%= data.description %>" />
    <meta property="og:image" content="<%= data.image %>" />
    <meta property="og:image:alt" content="<%= data.description %>" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:site_name" content="<%= data.organization %>" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:url" content="<%= data.url %>" />
    <meta name="twitter:title" content="<%= data.title %>" />
    <meta name="twitter:description" content="<%= data.description %>" />
    <meta name="twitter:image:src" content="<%= data.image %>" />
    <meta name="twitter:site" content="<%= data.twitter %>" />

    <script type="module" src="/src/js/styles.js"></script>
  </head>
  <body style="overflow-x: hidden">
    <div id="root" />
    <script type="module" src="/src/pages/index.jsx"></script>
  </body>
</html>
