// reference: uikit/src/scss/variables.scss

// Fonts - Only Used Ones
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Georgia:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

// font families
$global-font-family: 'Merriweather', 'Georgia', 'Inter';
$base-heading-font-family: 'Garamond', 'EB Garamond';

// code block settings
$base-pre-background: #f0eee6;
$base-pre-border: 0 solid #e5e5e5;
$base-pre-border-radius: 0;
$base-pre-font-size: 14px;
$base-pre-font-family: 'SFMono-Regular', 'Consolas', monospace;

// layout settings
$section-padding-vertical-m: 25px;
$tooltip-border-radius: 5px;

// font sizes
$global-xlarge-font-size: 2.4rem;

// theme colors
$accent-color: #bf5e3c;
$theme-color: #faf9f5;
$theme-color-fg: #222;

// global colors
$global-link-color: $accent-color;
$global-link-hover-color: $accent-color;
$global-color: $theme-color-fg;
$global-emphasis-color: $theme-color-fg;
$base-heading-color: $theme-color-fg;
$global-danger-background: $accent-color;

// component colors
$table-row-active-background: $base-pre-background;
$background-secondary-background: $theme-color;
$button-primary-background: $theme-color;
$global-primary-background: $accent-color;
$text-primary-color: $theme-color-fg;

// uikit imports
@import 'uikit/src/scss/variables-theme.scss';
@import 'uikit/src/scss/mixins-theme.scss';
@import 'uikit/src/scss/uikit.scss';
@import 'normalize.css/normalize.css';
