// reference: uikit/src/scss/variables.scss

// fonts
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Titillium+Web:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

$global-font-family: 'Open Sans';
$base-heading-font-family: 'Raleway';

// code block
$base-pre-background: #f5f5f5;
$base-pre-border: 0 solid #e5e5e5;
$base-pre-border-radius: 0;
$base-pre-font-size: 12px;
$base-pre-font-family: 'SFMono-Regular', 'Consolas', monospace;

// sections
$section-padding-vertical-m: 25px;

// popup
$tooltip-border-radius: 5px;

// font size
// $global-font-size: clamp(16px,4vw,16px);
// $global-medium-font-size: clamp(15px,1vw,18px); // comment-font-size

$accent-color: #df3079;
$global-link-color: $accent-color;
$theme-color: #282c34;
$theme-color-fg: #f5f5f5;
$global-color: #000;
$global-emphasis-color: $theme-color-fg;
$base-heading-color: $global-color;
$text-primary-color: $theme-color-fg;
$text-secondary-color: $global-color;

$background-secondary-background: $theme-color;
$button-primary-background: $theme-color;
$global-primary-background: $accent-color;
$text-primary-color: $theme-color-fg;

// sinicx logo
$navbar-nav-item-height: 60px;
$navbar-background: $theme-color;

// $navbar-background: $theme-color-fg;

// default variables and mixins
@import 'uikit/src/scss/variables-theme.scss';
@import 'uikit/src/scss/mixins-theme.scss';

// import uikit
@import 'uikit/src/scss/uikit.scss';
@import '~normalize.css/normalize.css';
// @import "uikit/src/scss/uikit-theme.scss";
